/* colors.css */

:root {
   color-scheme: light dark;
   --moon-gray:   light-dark(#f4eeff, #dbd8e3);
   --moon-light:  light-dark(#dcd6f7, #5c5470); 
   --moon-medium: light-dark(#a6b1e1, #352f44);
   --moon-heavy:  light-dark(#424874, #2a2438);
}
