--- 
import Layout from "../layouts/Layout.astro";
---

<Layout>
   <div class="about-me broider3 row">
      <h4>Bio &#x263D;</h4>
      <b>Moon Davé (she/her)</b> is a sound artist, musician, software engineer, and creative tool maker based in NYC.<br />
      She works with modular synthesizers, supercollider, and writes software for the web and mobile iOS. She is passionate about building FLOSS tools for the purpose of increasing access to, and teaching computational thinking through art.
   </div>

   <div class="currently broider3">
      <h4>Currently...</h4>
      <ul>
         <li>Working on experimental drawing app for iPad</li>
         <li>Starting a personal journey with webGPU</li>
      </ul>
   </div>

   <p class="reach-me broider2" style="padding:10px;">
      I can be reached by email: <em>moon [at] softmoon.world</em>
   </p>
</Layout>

<style>

   div, p {
      padding: 5px;
      width: fit-content;
      grid-column-start: 1;
   }

   .about-me {
      grid-row-start: 3;
   }
   .currently {
      grid-row-start: 4;

   }
   .reach-me {grid-row-start: 5;}


</style>
