--- 
import Layout from "../layouts/Layout.astro";
---

<Layout>
   <ul class="broider3">
      <li>11/09/2024 - Cutelab w/ David Karp</li>
      <li>09/28/2024 - Wavefield (women in synth)</li>
      <li>09/20/2024 - LSD</li>
      <li>08/29/2024 - Boshis</li>
      <li>08/15/2024 - Wonderville</li>
      <li>06/01/2024 - Rhoneymeade</li>
      <li>12/14/2023 - Sundown Bar (Casette)</li>
      <li>09/05/2023 - JOHNNY</li>
      <li>08/27/2023 - Solar System #2</li>
      <li>07/18/2023 - Windjammer</li>
      <li>06/04/2023 - Rhoneymeade</li>
      <li>05/13/2023 - Livecode.NYC Regen Circuit @ Harvestworks</li>
      <li>03/01/2023 - Reverse Tar Pit</li>
      <li>02/03/2023 - Cosmic Reflections @ Trans pecos</li>
      <li>12/10/2022 - Smhoakstock Chaoscomputer</li>
      <li>12/06/2022 - Smhoakstock stream</li>
      <li>09/21/2022 - Zeno's (State College PA)</li>
      <li>09/17/2022 - Bremen Ball Room (Ballroom Sonics) Millheim, PA</li>
      <li>09/15/2022 - No Aloha</li>
      <li>09/09/2022 - Littlefield Noise/Function</li>
      <li>06/24/2022 - ABC No Rio</li>
      <li>06/04/2022 - Rhoneymeade</li>
      <li>05/12/2022 - Starr Bar Emergent Pathways</li>
      <li>05/08/2022 - Emotionsfest</li>
      <li>03/26/2022 - Wonderville</li>
      <li>12/12/2021 - Syzygy</li>
   </ul>
</Layout>
