<div class="about-me broider3">
   <h4>Bio &#x263D;</h4>
   <b>Moon Davé (she/her)</b> is a sound artist, musician, software engineer, and creative tool maker based in NYC.<br />
   She works with modular synthesizers, supercollider, and writes software for the web and mobile iOS. She is passionate about building FLOSS tools for the purpose of teaching computational thinking through art.
</div>
