<nav class="broider3">
   <ul>
      <a href="index.html">Home</a>
      <a href="live.html">Performances</a>
      <a href="https://www.are.na/moon-dave/channels">Are.na</a>
      <a href="https://github.com/catilac">Github</a>
      <a href="https://bsky.app/profile/softmoon.world">Bluesky</a>
      <a rel="me" href="https://infosec.exchange/@catilac">Mastodon</a>
      <a href="https://instagram.com/softmoonworld">Instagram</a>
      <a href="resume.pdf">Resume</a>
   </ul>
</nav>

<style>
   nav {
      padding: 5px;
      width: fit-content;
      grid-column-start: 1;
      grid-row-start: 2;
      grid-row-end: 2;
   }
   nav ul { 
      margin: auto; 
      padding-inline-start: 0; 
   }
</style>
