<div class="currently broider3">
   <h4>Currently...</h4>
   <ul>
      <li>Started at <a href="https://processingfoundation.org">The Processing Foundation</a></li>
      <li>Working on my fantasy console: <a href="https://github.com/catilac/mooncon">MOONCON</a></li>
      <li>Doing live sound in June</li>
      <li>Planning show at community garden August 29th</li>
   </ul>
</div>
