<div class="ascii broider3">
   <div text="soft">
      ░▒█▀▀▀█░▄▀▀▄░█▀▀░▀█▀░<br />
      ░░▀▀▀▄▄░█░░█░█▀░░░█░░<br />
      ░▒█▄▄▄█░░▀▀░░▀░░░░▀░░<br />
   </div>
   <div text="moon">
      ░▒█▀▄▀█░▄▀▀▄░▄▀▀▄░█▀▀▄░<br />
      ░▒█▒█▒█░█░░█░█░░█░█░▒█░<br />
      ░▒█░░▒█░░▀▀░░░▀▀░░▀░░▀░<br />
   </div>
   <div text="world">
      ░▒█░░▒█░▄▀▀▄░█▀▀▄░█░░█▀▄<br />
      ░▒█▒█▒█░█░░█░█▄▄▀░█░░█░█<br />
      ░▒▀▄▀▄▀░░▀▀░░▀░▀▀░▀▀░▀▀░<br />
   </div>
</div>

<style>
   .ascii {
      display: flex;
      flex-direction: column;
      line-height: 1.19em;
      grid-column-start: 1;
      color: var(--moon-gray);
   }
   .ascii div {
      align-self: center;
      padding: 5px;
   }
</style>
