<div class="row">
   <div class="ascii broider3">
      <div text="soft">
         ░▒█▀▀▀█░▄▀▀▄░█▀▀░▀█▀░<br />
         ░░▀▀▀▄▄░█░░█░█▀░░░█░░<br />
         ░▒█▄▄▄█░░▀▀░░▀░░░░▀░░<br />
      </div>
      <div text="moon">
         ░▒█▀▄▀█░▄▀▀▄░▄▀▀▄░█▀▀▄░<br />
         ░▒█▒█▒█░█░░█░█░░█░█░▒█░<br />
         ░▒█░░▒█░░▀▀░░░▀▀░░▀░░▀░<br />
      </div>
      <div text="world">
         ░▒█░░▒█░▄▀▀▄░█▀▀▄░█░░█▀▄<br />
         ░▒█▒█▒█░█░░█░█▄▄▀░█░░█░█<br />
         ░▒▀▄▀▄▀░░▀▀░░▀░▀▀░▀▀░▀▀░<br />
      </div>
   </div>
</div>

<style>
   .ascii {
      line-height: 1.19em;
      align-self: center;
   }
   .ascii div {
      align-self: center;
      padding: 5px;
   }
</style>
