---
import SMWHead from "../components/SMWHead.astro";
import Navigation from "../components/Navigation.astro";
import Grid from "../components/Grid.astro";

import '../styles/broider.css';
import '../styles/colors.css';
---

<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <title></title>
   </head>

   <body>
      <Grid>
         <SMWHead />
         <marquee>Welcome to my site.</marquee>
         <Navigation />
         <slot />
      </Grid>
   </body>
</html>

<script src="../scripts/moon_title.ts"></script>

<style>
   body { background-color: var(--moon-medium); }
</style>
